.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 9% ;
}

.recordbutton {
	background-image: url("../../../assets/record.png");
	background-color: rgb(0, 0, 0, 0%);
	border: none;
	background-size: cover;
	width: 8em;
	height: 8em;
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
	transition: 1s transform;
}

.recordbutton:hover {
	transform: scale(1.1);
}

.info-feature {
	padding: 0.5em 1.3em;
	border-radius: 1em; /* Agrega esquinas redondeadas al botón */
	background-color: #000000; /* Establece el color de fondo del botón */
	color: white; /* Establece el color del texto del botón */
	font-size: 1em; /* Establece el tamaño de la fuente del texto del botón */
	font-family: "Jomhuria", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5% 10%;
}

.configure-selector {
	border: 1em solid #000000; /* Establece un borde sólido de 2px de ancho */
	border-radius: 10px; /* Agrega esquinas redondeadas al botón */
	background-color: #000000; /* Establece el color de fondo del botón */
	color: white; /* Establece el color del texto del botón */
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
	width: 6em;

	p {
		font-family: "Jomhuria", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		text-align: center; /* Alinea el texto al centro */
		font-size: 1.2em; /* Establece el tamaño de la fuente del texto del botón */
	}

	select {
		padding-left: 1em;
		width: 100%;
		text-align: center;
	}
}
