<body>
	<a class="exit" draggable="false" routerLink="">{{ menuItems[0] }}</a>
	<div class="login-container">
		<div class="login-form">
			<div class="h2box">
				<h2>{{ menuItems[1] }}</h2>
			</div>
			<form
				[formGroup]="form"
				class="space-y-6"
				action="#"
				method="POST"
				(ngSubmit)="submit()"
			>
				<div class="input-group">
					<label for="email">{{ menuItems[2] }}</label>
					<input
						formControlName="email"
						type="email"
						id="email"
						name="email"
						class="email"
					/>
					<div
						class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
						role="alert"
						id="email-error"
						style="display: none; color: red"
					></div>
				</div>
				<div class="input-group">
					<label for="password">{{ menuItems[3] }}</label>
					<input
						formControlName="password"
						type="password"
						id="password"
						name="password"
						class="password"
						required
					/>
					<div
						class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
						role="alert"
						id="passwordreg-error"
						style="display: none; color: red"
					></div>
				</div>
				<a href="/forgotpassword">{{ menuItems[4] }}</a>

				<div class="botones">
					<button id="login" class="login" type="submit">
						{{ menuItems[5] }}
					</button>
					<button
						(click)="googlesignin()"
						type="button"
						class="login-with-google-btn"
						style="margin-right: 80px"
					>
						{{ menuItems[9] }}
					</button>
					<button routerLink="/" id="login1" class="login" type="">
						{{ menuItems[6] }}
					</button>
				</div>
			</form>
			<p class="sign-up-text">
				{{ menuItems[7] }}<a routerLink="/signup">{{ menuItems[8] }}</a>
			</p>
		</div>
	</div>
</body>