<section class="info">
	<a href="/whoweare" draggable="false">{{ menuItems[0] }}</a>
	<a href="/review" draggable="false">REVIEWS</a>
</section>

<section class="features">
	<ul>
		<li>
			<a href="/home" draggable="false">RECORD</a>
		</li>
		<li>
			<a href="/formatconverter" draggable="false">CONVERTER</a>
		</li>
		<li>
			<a href="/myrecords" draggable="false">GALLERY</a>
		</li>
	</ul>
</section>

<section class="users-buttons">
	@if(storage()){
	<a (click)="getout()" routerLink draggable="false">{{ menuItems[3] }}</a>
	} @else {
	<a routerLink="/login" draggable="false">>{{ menuItems[1] }}</a>
	<a routerLink="/signup" draggable="false">>{{ menuItems[2] }}</a>
	}
</section>
		<div>
			<select id="targetLanguage" [(ngModel)]="selectedLanguage" (change)="translateAll()">
				<option value="en">English</option>
				<option value="es">Espanol</option>
				<option value="ar">Arabe</option>
				<option value="it">Italiano</option>
				<option value="pt">Portugues</option>
				<option value="zh-CN">Chino Tradicional</option>
				<option value="ja">Japones</option>
				<option value="ru">Ruso</option>
				<option value="hi">Indu</option>
			</select>
		</div>

	