<header class="header">
	<section>
		<a href="/whoweare" draggable="false">WHO WE ARE</a>
		@if (currentPage == '/home' || currentPage == '/review' || currentPage == '/myrecords' || currentPage == '/' ) {
			<a href="/formatconverter" draggable="false">FORMAT CONVERTER</a>
		}@else{
			<a href="/home" draggable="false">HOME</a>
		}
		@if (currentPage == '/home' || currentPage == '/formatconverter' || currentPage == '/myrecords' || currentPage == '/') {
			<a href="/review" draggable="false">REVIEWS</a>
		}@else{
			<a href="/home" draggable="false">HOME</a>
		}
		@if (currentPage == '/home' || currentPage == '/formatconverter' || currentPage == '/review' || currentPage == '/') {
			<a href="/myrecords" draggable="false">My Records</a>
		}@else{
			<a href="/home" draggable="false">HOME</a>
		}

	</section>

	<section class="users-buttons">
		@if(storage()){
			<a (click)="getout()" routerLink draggable="false">LOG OUT</a>
		} @else {
			<a routerLink="/login" draggable="false">LOG IN</a>
			<a routerLink="/signup" draggable="false">SIGN UP</a>
		}
		<button (click)="openModal()"  type="button" draggable="false">OPTIONS</button>
	</section>
</header>
