<body>
	<a href="/" style="margin: 1%; font-family: oswald; font-weight: bold;">RETURN</a>

	<article>
      <div class="container">
         <h2>WHO WE ARE</h2>
         <div class="box">
         <p>
            At SPEED, we are a team passionate about the power of capture.
            digital. We offer a simple yet powerful solution to record and
            Capture moments with maximum fidelity. With our application,
            You can select from various options to personalize your
            Recordings: Adjust the frame rate to capture the perfect fluidity,
            Select the resolution to get the clarity you need and
            Choose between different formats to ensure compatibility and
            quality. All this, designed with an intuitive interface that makes
            content capture is accessible to everyone.
            </p>
            <div class="configuracion_box">
               <h3>Configuration: </h3>
               <div class="fps_configg" style="flex-direction: row; text-wrap: wrap; justify-content: space-between;">
                  <p>Just as we can select different settings for <b style="color: black;">FPS</b>, we can do the same with
                     <b style="color: black;">resolution</b> and the <b style="color: black;">delay</b> time before starting to record.
                  </p>
                  <div class="imagenes" style="display: flex; justify-content: space-evenly;">
                     <img src="/assets/fps_config.png" alt="ewae">
                     <img src="/assets/resolution_config.png" alt="ewae">
                     <img src="/assets/delay2.png" alt="ewae" style="scale: 1; height: 197px;">
                  </div>
                  <p>As soon as we create an <b style="color: #000000;">account </b> and are logged in, a customization window will appear,
                     which allows for a <b style="color: #000000;">format change </b>, either of the video or the capture.</p>
               </div>
            </div>
         </div>
      </div>
	</article>
</body>
