<body>
	<a
		href="/home"
		draggable="false"
		style="
			margin: 1%;
			font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana,
				sans-serif;
			font-weight: bold;
		"
		>{{ menuItems[0] }}</a
	>

	<article>
		<div class="container">
			<h2>{{ menuItems[1] }}</h2>
			<div class="box">
				<p>
					{{ menuItems[3] }}<b style="color: #000000"> {{ menuItems[4] }}</b>{{ menuItems[5] }}
					<b style="color: #000000">{{ menuItems[6] }}</b> {{ menuItems[7] }}
					<b style="color: #000000">{{ menuItems[8] }}</b>{{ menuItems[9] }}
					<b style="color: #000000">{{ menuItems[10] }}</b>{{ menuItems[11] }}
					<b style="color: #000000">{{ menuItems[12] }}</b>{{ menuItems[13] }}
					<b style="color: #000000">{{ menuItems[14] }}</b>{{ menuItems[15] }}
					<b style="color: #000000">{{ menuItems[16] }}</b>.
				</p>
				<div class="configuracion_box">
					<h3>{{ menuItems[2] }}</h3>
					<div
						class="fps_configg"
						style="
							flex-direction: row;
							text-wrap: wrap;
							justify-content: center;
						"
					>
						<p>
							{{ menuItems[17] }}
							<b style="color: black">{{ menuItems[18] }}</b>{{ menuItems[19] }}
							<b style="color: black">{{ menuItems[20] }}</b>{{ menuItems[21] }}
							<b style="color: black">{{ menuItems[22] }}</b>{{ menuItems[23] }}
						</p>
						<div
							class="imagenes"
							style="display: flex; justify-content: space-evenly"
						>
							<img src="/assets/fps_config.webp" alt="ewae" />
							<img
								src="/assets/resolution_config.webp"
								alt="ewae"
							/>
							<img
								src="/assets/delay2.webp"
								alt="ewae"
								style="scale: 1; height: 197px"
							/>
						</div>
						<p>
							{{ menuItems[24] }}
							<b style="color: #000000">{{ menuItems[25] }}</b>{{ menuItems[26] }}
							<b style="color: #000000">{{ menuItems[27] }}</b>{{ menuItems[28] }}
						</p>
						<div style="display: flex; justify-content: center">
							<img src="/assets/config_logged.png" alt="ewae" />
						</div>
						<p>
							{{ menuItems[29] }}
							<b style="color: #000000">{{ menuItems[30] }}</b>{{ menuItems[31] }}
						</p>
						<p>
							{{ menuItems[32] }}
							<b style="color: #000000">{{ menuItems[33] }}</b>{{ menuItems[34] }}
							<b style="color: #000000">{{ menuItems[35] }}</b>
						</p>
						<div style="display: flex; justify-content: center">
							<img src="/assets/grupo-min.jpeg" alt="ewae" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
