<body>
	<a href="/">Back</a>
	<div class="title">
		<h2>WHO WE ARE</h2>
	</div>

	<article>
		<div>
			<p>
				En SPEED, somos un equipo apasionado por el poder de la captura
				digital. Ofrecemos una solución sencilla pero poderosa para
				grabar y capturar momentos con la máxima fidelidad. Con nuestra
				aplicación, puedes seleccionar entre diversas opciones para
				personalizar tus grabaciones: ajusta el frame rate para capturar
				la fluidez perfecta, selecciona la resolución para obtener la
				claridad que necesitas y elige entre distintos formatos para
				garantizar la compatibilidad y calidad. Todo esto, diseñado con
				una interfaz intuitiva que hace que la captura de contenido sea
				accesible para todos
			</p>
		</div>
	</article>
</body>
