<section class="record-container">
	<h2 class="info-feature" #record_info>{{ $recordingState }}</h2>
	<div class="control-buttons">
		<button
			class="recordButton"
            [style.backgroundImage]="$iconRecord"
            [disabled]="$recordingIconDisabled"
			(click)="toggleRecording()"
		></button>
		<button
			class="microButton"
			[style.backgroundImage]="$iconMicro"
            [disabled]="$microphoneIconDisabled"
			(click)="toggleMicrophone()"
		></button>
	</div>
</section>
