<section class="record-container">
	<h2 class="info-feature" #record_info>{{ (isRecording)? 'RECORDING' : 'RECORD' }}</h2>
	<div class="control-buttons">
		<button
			class="recordButton"
            [style.backgroundImage]="$iconRecord"
            [disabled]="$recordingButtonDisabled"
			(click)="toggleRecording()"
		></button>
		<button
			class="microButton"
			[style.backgroundImage]="$iconMicro"
            [disabled]="$microphoneButtonDisabled"
			(click)="toggleMicrophone()"
		></button>
	</div>
</section>
