.record-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	margin-top: 10%;
}

.control-buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

.settings {
    background-image: url("/assets/settings.webp");
    background-color: rgb(0, 0, 0, 0%);
    border: none;
    background-size: cover;
    width: 2.5em;
    height: 2.5em;
    margin: 0.7em 0.7em;
    padding: 0;
    cursor: pointer; 
    transition: 1s transform;
}

.recordButton {
	background-image: url("/assets/stopped_state.webp");
	background-color: rgb(0, 0, 0, 0%);
	border: none;
	background-size: cover;
	width: 10em;
	height: 10em;
	cursor: pointer; 
	transition: 1s transform;
}

.microButton {
	background-image: url("/assets/micro_enable.webp");
	background-color: rgb(0, 0, 0, 0%);
	border: none;
	background-size: cover;
	width: 4em;
	height: 4em;
	cursor: pointer;
	transition: 1s transform;
}

.recordButton:hover {
	transform: scale(1.1);
}
.microButton:hover {
	transform: scale(1.1);
}
.settings:hover {
	transform: scale(1.1);
}

.info-feature {
	padding: 0.5em 1.3em;
	border-radius: 0.5em; 
	background-color: #000000; 
	color: white; 
	font-size: 1em;
    font-weight: bold;
	font-family: "Oswald", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
}



