<body>
	<a class="exit" draggable="false" routerLink="">{{ menuItems[0] }}</a>
	<div class="login-container">
		<div class="login-form">
			<div class="h2box">
				<h2>{{ menuItems[1] }}</h2>
			</div>
			<form
				[formGroup]="form"
				class="forma"
				action="#"
				method="POST"
				(ngSubmit)="submit()"
			>
				
				<div class="input-group">
					<label for="username">{{ menuItems[10] }}</label>
					<input
					  formControlName="username"
					  type="text"
					  id="username"
					  name="username"
					  class="username"
					  required
					/>
			  	</div>
				<div class="input-group">
					<label for="email">{{ menuItems[2] }}</label>
					<input
						formControlName="email"
						type="email"
						id="email"
						name="email"
						class="email"
					/>
					<div
						id="email-error"
						style="display: none; color: red; margin-top: 1%"
					></div>
				</div>
				<div class="input-group">
					<label for="password">{{ menuItems[3] }}</label>
					<input
						formControlName="password"
						type="password"
						id="password"
						name="password"
						class="password"
						required
					/>
					<div
						id="passwordreg-error"
						style="display: none; color: red; margin-top: 1%"
					></div>
				</div>
				<div class="input-group">
					<label for="password">{{ menuItems[4] }}</label>
					<input
						formControlName="password1"
						type="password"
						id="passwordd"
						name="password"
						class="password"
						required
					/>
				</div>

				<div class="botones">
					<button id="login" class="login" type="submit">
						{{ menuItems[5] }}
					</button>

					<button
						(click)="googlesignin()"
						type="button"
						class="login-with-google-btn"
						style="margin-right: 80px"
					>
						{{ menuItems[6] }}
					</button>

					<button routerLink="/" id="login1" class="login" type="">
						{{ menuItems[7] }}
					</button>
				</div>
			</form>
			<p class="sign-up-text">
				{{ menuItems[8] }}
				<a routerLink="/login">{{ menuItems[9] }}</a>
			</p>
		</div>
	</div>
</body>
