.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
    margin-top: 8%;
	width: 100%;
	height: 80vh;
}

app-frame-uploader {
    width: 35%;
    height: 70%;
    display: flex;
	justify-content: center;
    align-items: center;
}

app-frame-uploader {
    width: 50%;
    display: flex;
	justify-content: center;
    align-items: center;
}
app-file-list{
    width: 50%;
    display: flex;
	justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    app-frame-uploader {
        width: 90%;
    }

    app-file-list{
        width: 120%;
    }
}

@media (max-height: 1000px) {
    .container{
        
    }
}
