<form class="main">
	@if(storage()){
	<div class="first-row">
		<div class="configure-selector">
			<label>Video format</label>
			<select
			name="format-video-selector"
				id="format-video-selector"
				[(ngModel)]="videoformat"
				(change)="onformatVideoChange()"
			>
				<option selected>mp4</option>
				<option>avi</option>
				<option>webm</option>
				<option>mov</option>
				<option>flv</option>
			</select>
		</div>
		<div class="configure-selector">
			<label>image format</label>
			<select
				name="format-image-selector"
				id="format-image-selector"
				[(ngModel)]="imageformat"
				(change)="onformatImageChange()"
			>
				<option selected>png</option>
				<option>jpeg</option>
				<option>webp</option>
			</select>
		</div>
	</div>
	}
	<div class="second-row">
		<div class="configure-selector">
			<label>Resolution</label>
			<select
				name="resolution-selector"
				id="resolution-selector"
				[(ngModel)]="resolution"
				(change)="onResolutionChange()"
			>
				<option selected>1080</option>
				<option>720</option>
				<option>480</option>
				<option>360</option>
			</select>
		</div>
		<div class="configure-selector">
			<label>FPS</label>
			<select
				name="framerate-selector"
				id="framerate-selector"
				[(ngModel)]="framerate"
				(change)="onFramerateChange()"
			>
				<option selected>60</option>
				<option>30</option>
				<option>24</option>
				<option>15</option>
			</select>
		</div>

		<div class="configure-selector">
			<label>Delay</label>
			<input
			name="delay-input"
				placeholder="0"
				type="number"
				id="delay-input"
				[(ngModel)]="delay"
				(change)="onDelayChange()"
				min="0"
			/>
		</div>
	</div>
</form>
