form {
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 3.5em;
}

.first-row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 10%;
}

.second-row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10%;
}

.configure-selector {
	border: 1em solid #000000; /* Establece un borde sólido de 2px de ancho */
	border-radius: 10px; /* Agrega esquinas redondeadas al botón */
	background-color: #000000; /* Establece el color de fondo del botón */
	color: white; /* Establece el color del texto del botón */
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
	width: 6em;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap : 0.8em;

	label {
		font-family: "Oswald", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
		text-align: center; /* Alinea el texto al centro */
		font-size: 1.2em; /* Establece el tamaño de la fuente del texto del botón */
		font-weight: bold;
		cursor: inherit; 
	}

	select {
		padding-left: 1em;
		width: 100%;
		text-align: center;
		cursor: inherit; 
	}

	input{
		text-align: center;
		padding-left: 1em;
	}

}
