.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: rgb(217, 217, 217); /* Color de fondo del modal */
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
	width: 80%; /* Ancho del modal */
	max-width: 600px; /* Ancho máximo del modal */
	display: flex;
	flex-direction: column;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-body {
	margin-bottom: 20px;
	flex-grow: 1; /* Hace que el cuerpo ocupe el espacio restante */
}

.modal-footer {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.btn-guardar {
	padding: 10px 20px;
	background-color: black; /* Color de fondo */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.btn-guardarr {
	padding: 10px 20px;
	background-color: black; /* Color de fondo */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-guardar:hover {
	background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
	color: #000; /* Color del texto al pasar el ratón */
}
